.card {
    display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  background-color: bisque;
  width: 16rem;
  height: fit-content;
  padding: 0 2rem 2rem 2rem;
  border-radius: 10px;
  }
  
  .card img {
    margin-top: -20%;
    width: 100%;
    border-radius: 20px;
  }
  
  .card h2 {
    margin: 0;
    text-align: center;
    margin-left: 22px;
    margin-top: 1rem;
  }
  
  .card p {
    margin: 0;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }
  
  .card .btnn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 20px;
    margin-left: 28px;
  }
