@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

.home{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    justify-content: center;
    gap:50px;

}
.logoText{
    font-family: 'Metal Mania';
    font-size: 200px;
    /* width: 40%; */
    letter-spacing: 20px;
    gap:10px;
    display: flex;
    flex-direction: row;
    
    align-items: center;
}
.sympoDesc{
    font-size: 20px;
}
@media screen and (max-width:720px) {
    .logoText{
        font-size: 100px;
    }
    .logo{
        height:99px;
        width: 92px;

    }
}
@media screen and (max-width:480px) {
    .logoText{
        font-size: 50px;
    }
    .logo{
        height:52px;
        width: 49px;
        margin-left: -10px;

    }
    .sympoDesc{
        font-size: 16px;
    }
}